extends ../layout

block content
    h1 Questions saved Sucessfully
    br 
    h3 
         p Name: #{blob.name}

         p Address: #{blob.address}

         p Favorite Color: #{blob.favColor}

         p Favorite Beverage: #{blob.favBeverage}

         p Favorite Snack: #{blob.favSnack}

         p Favorite Books or Authors: #{blob.favBookAuthor}

         p Favorite Scent (If any): #{blob.favScent}

         p Video Game Console (If any): #{blob.videoGameConsole}
        
         p favSportTeam (If any): #{blob.favSportTeam}

         p I Collect: #{blob.iCollect}

         p List Hobbies: #{blob.listHobbies}

         p Favorite Stores: #{blob.favStores}

         p Shirt Size: #{blob.shirtSize}

         p Shoe Size: #{blob.shoeSize}

         p I Read: #{blob.iRead}

         p I Want: #{blob.iWant}

         a.btn.btn-success(href='/blobs/#{blob._id}/edit') Edit Changes 

